.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.buttons-container:first-child {
    padding-top: 80px;
}

.button {
    background: aquamarine;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    font-size: 24px;
    height: 100px;
    width: 150px;
    justify-content: center;
}

.button:hover {
    background: white;
}

.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

span {
    margin: 10px;
}

.clock {
    font-size: 60px;
    color: aquamarine;
    font-family: sans-serif;
    border: 1px solid;
    padding: 30px;
    border-radius: 3px;
    margin: 40px;
}

.upper-container {
    background-color: navy;
    height: 100%;

}

.title {
    color: white;
    font-size: 36px;
    margin: 20px;
}